<link rel='stylesheet' href='css/app.css'>
{{#partial "content"}}
    {{#if sightings}}
        <h4 class="text-center" style=" color: #fff;font-size: xx-large;font-weight: 500;">SIGHTING DETAILS</h4>
        <table class="table text-center" >
            <thead style="background-color:#fff; color:black;">
            <tr>
                <th scope="col"  >User</th>
                <th scope="col" >Mood</th>
                <th scope="col"  >Popularity</th>
            </tr>
            </thead>
            <tbody style="color:#fff;">
            {{#each sightings}}
                <tr>
                    <td>{{userName}}</a></td>
                    <td>{{moodName}}</td>
                    <td>{{popularity}}</td>
                 </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
    <h1 class="text-center">HALL OF FAME</h1>
        <h5 class="text-center">Custom made apps,just for you.</h5>
         <section class="team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="col-lg-12">

                                <div class="row pt-md">
                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/ps.jpeg" class="img-responsive" >
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Play store</h1>
                                        <h2>Social App</h2>
                                        <p>Google Play, also branded as the Google Play Store and formerly Android Market, is a digital distribution service operated and developed by Google.</p>
                                    </div>
                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/ms.jpeg" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Messenger</h1>
                                         <h2>Social App</h2>
                                         <p>Users can send messages and exchange photos, videos, stickers, audio, and files, as well as react to other users' messages and interact with bots. The service also supports voice and video calling.</p>
                                    </div>
                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/snap.jpeg" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Snap Chat</h1>
                                         <h2>Social App</h2>
                                          <p>One of the principal features of Snapchat is that pictures and messages are usually only available for a short time before they become inaccessible to their recipients. </p>
                                    </div>
                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/tw.png" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Twitter</h1>
                                         <h2>Social App</h2>
                                         <p>Twitter is an American microblogging and social networking service on which users post and interact with messages known as "tweets".</p>
                                    </div>

                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/ig.jpeg" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Instagram</h1>
                                           <h2>Social App</h2>
                                            <p>Instagram is an American photo and video sharing social networking service created by Kevin Systrom and Mike Krieger.</p>
                                    </div>
                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/cash.png" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Cash App</h1>
                                           <h2>Fintech</h2>
                                         <p>Cash App is a mobile payment service developed by Square, Inc. that allows users to transfer money to one another using a mobile phone app. The service is available in the US and the UK..</p>
                                    </div>
                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/home.jpeg" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>myHome</h1>
                                         <h2>Social App</h2>
                                        <p>Control4® MyHome® lets you manage and interact with your Control4 system using your favorite Android™ and iOS smartphones, tablets, PCs, or Mac® computers.</p>
                                    </div>
                                    <div class="col-lg-3 profile">
                                        <div class="img-box">
                                            <img src="images/amazon.jpeg" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Amazon</h1>
                                     <h2>Social App</h2>
                                      <p>Amazon.com, Inc. is an American multinational conglomerate which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is one of the Big Five companies in the U.S.</p>
                                    </div>

                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/taxi.jpeg" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Taxify</h1>
                                                                                <h2>Social App</h2>
                                                                                <p>Taxify Kenya is a cab-hailing service that helps you to ask for a taxi or personal driver to move from one destination to another using the Taxify mobile application.</p>
                                    </div>
                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/tw.png" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Instagram</h1>
                                        <h2>Social App</h2>
                                        <p>Instagram is an American photo and video sharing social networking service created by Kevin Systrom and Mike Krieger.</p>
                                    </div>
                                    <div class="col-lg-3  profile">
                                        <div class="img-box">
                                            <img src="images/spot.png" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Spofify</h1>
                                         <h2>Social App</h2>
                                         <p>Spotify is a Swedish audio streaming and media services provider founded on 23 April 2006 by Daniel Ek and Martin Lorentzon. It is one of the world's largest music streaming service providers, with over 365 million monthly active users,</p>
                                    </div>
                                    <div class="col-lg-3 profile">
                                        <div class="img-box">
                                            <img src="images/chrome.jpeg" class="img-responsive">
                                            <ul class="text-center">
                                                <a href="#">
                                                    <li><i class="fa fa-facebook"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-twitter"></i></li>
                                                </a>
                                                <a href="#">
                                                    <li><i class="fa fa-linkedin"></i></li>
                                                </a>
                                            </ul>
                                        </div>
                                        <h1>Chrome</h1>
                                   <h2>Social App</h2>
                                   <p>Google Chrome is a cross-platform web browser developed by Google. It was first released in 2008 for Microsoft Windows, built with free software components from Apple WebKit and Mozilla Firefox</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    {{/if}}
{{/partial}}

{{> layout.hbs}}