<link rel='stylesheet' href='css/app.css'>
{{#partial "content"}}
    {{#if sad}}
    {{#each sad}}
        <div class="card" style="width: 18rem; float:left; padding:2%; margin:2%;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">App name</h5>
                              <p class="card-text">App Description</p>
                            </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{name}}</li>
                    <li class="list-group-item">{{health}}</li>
                    <li class="list-group-item">{{age}}</li>
                  </ul>
                   <div class="card-body">
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                           {{/each}}
    {{else}}
        <h5 class="text-center">No animals sighted yet. Report a admin to have it appear here</h5>
    {{/if}}

{{/partial}}

{{> layout.hbs}}


